# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Intellij
.idea/
*.iml
*.iws
*.pmd


# Eclipse
.classpath
.project
.settings/


### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/

# Sonar Scanner local
/.scannerwork/
sonar.sh